<!-- about section start -->
<div class="about_section layout_padding" id="Spécialité">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="about_img"><img src="images/about-img1.png" alt="Spécialité MissKech"></div>
          </div>
          <div class="col-md-6">
              <h1 class="about_taital">Notre Spécialité</h1>
              <p class="about_text">Chez MissKech, nous mettons un point d'honneur à perfectionner nos donuts, véritables chefs-d'œuvre de la pâtisserie. Fabriqués à partir de farine de qualité, chaque donut est une explosion de saveurs, allant de la douceur de la vanille au fondant du chocolat. Un goût unique qui vous fera fondre à chaque bouchée !</p>
              <div class="read_bt_1"><a href="#">Ajouter au panier!</a></div>
          </div>
      </div>
  </div>
</div>
<!-- about section end -->

<!-- cream section start -->
<div class="cream_section layout_padding" id="Menus">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="cream_taital">Nos Menus Délicieux</h1>
              <p class="cream_text">Explorez notre sélection de produits gourmands, conçus pour satisfaire toutes vos envies sucrées. De la crème glacée fruitée à nos douceurs, il y en a pour tous les goûts !</p>
          </div>
      </div>
      <div class="cream_section_2">
          <div class="row">
              <div class="col-md-4">
                  <div class="cream_box">
                      <div class="cream_img"><img src="images/donut-2544153.png" alt="Crème Glacée à la Fraise"></div>
                      <div class="price_text">2500 FCFA</div>
                      <h6 class="strawberry_text">Donut au chocolat</h6>
                      <div class="cart_bt"><a href="#">Ajouter au Panier </a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="cream_box">
                      <div class="cream_img"><img src="images/donut-2544153.png" alt="Crème Glacée à la Vanille"></div>
                      <div class="price_text">1500 FCFA</div>
                      <h6 class="strawberry_text">Donut à la Vanille</h6>
                      <div class="cart_bt"><a href="#">Ajouter au Panier</a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="cream_box">
                      <div class="cream_img"><img src="images/donut-2544153.png" alt="Crème Glacée au Chocolat"></div>
                      <div class="price_text">3000 FCFA</div>
                      <h6 class="strawberry_text">Gauffre au Chocolat</h6>
                      <div class="cart_bt"><a href="#">Ajouter au Panier</a></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="cream_section_2">
          <div class="row">
              <div class="col-md-4">
                  <div class="cream_box">
                      <div class="cream_img"><img src="images/donut-2544153.png" alt="Tiramisu Classique"></div>
                      <div class="price_text">2500 FCFA</div>
                      <h6 class="strawberry_text">Tiramisu Classique</h6>
                      <div class="cart_bt"><a href="#">Ajouter au Panier</a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="cream_box">
                      <div class="cream_img"><img src="images/donut-2544153.png" alt="Tiramisu au Chocolat"></div>
                      <div class="price_text">1000 FCFA</div>
                      <h6 class="strawberry_text">Tiramisu au Chocolat</h6>
                      <div class="cart_bt"><a href="#">Ajouter au Panier</a></div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="cream_box">
                    <div class="cream_img"><img src="images/donut-2544153.png" alt="Panini au Jambon et Fromage"></div>
                    <div class="price_text">2500 FCFA</div>
                    <h6 class="strawberry_text">Panini au Jambon et Fromage</h6>
                    <div class="cart_bt"><a href="#">Ajouter au Panier</a></div>
                </div>
            </div>
          </div>
      </div>
      <div class="seemore_bt"><a href="#">Voir Plus</a></div>
  </div>
</div>
<!-- cream section end -->


<!-- services section start -->
<div class="services_section layout_padding" id="Services">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="services_taital">Nos Services Glacés</h1>
              <p class="services_text">Découvrez nos services pour des moments gourmands et uniques. Que vous soyez un amateur de crème glacée ou que vous cherchiez à offrir des douceurs à vos proches, nous avons tout ce qu'il vous faut.</p>
          </div>
      </div>
      <div class="services_section_2 mt-5">
        <div class="row">

          <!-- Carte 1 -->
          <div class="col-md-4">
            <div class="services_box text-center">
              <img src="images/img-1.png" alt="Cookies Ice Cream" class="img-fluid mb-3">
              <h5 class="tasty_text">Crème Glacée Cookies</h5>
              <p class="lorem_text">
                Savourez nos délicieuses crèmes glacées aux cookies croquants, avec un goût parfait de vanille et de chocolat. Une touche gourmande pour votre plaisir sucré!
              </p>
            </div>
          </div>

          <!-- Carte 2 -->
          <div class="col-md-4">
            <div class="services_box text-center">
              <img src="images/img-4.png" alt="Chocolate Ice Cream" class="img-fluid mb-3">
              <h5 class="tasty_text">Crème Glacée au Chocolat</h5>
              <p class="lorem_text">
                Régalez-vous avec notre crème glacée au chocolat intense, crémeuse et parfaitement sucrée. Un vrai régal pour les amateurs de chocolat pur!
              </p>
            </div>
          </div>

          <!-- Carte 3 -->
          <div class="col-md-4">
            <div class="services_box text-center">
              <img src="images/img-5.png" alt="Strawberry Ice Cream" class="img-fluid mb-3">
              <h5 class="tasty_text">Crème Glacée à la Fraise</h5>
              <p class="lorem_text">
                Une crème glacée rafraîchissante à base de fraises fraîches, pour une expérience douce et fruitée à chaque bouchée.
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="seemore_bt text-center mt-4">
        <a href="#Menus">Commander!</a>
      </div>

<!-- services section end -->

<!-- testimonial section start -->
<div class="testimonial_section layout_padding" id="Avis">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="testimonial_taital">Avis de Nos Clients</h1>
          </div>
      </div>
      <div class="testimonial_section_2">
          <div class="row">
              <div class="col-md-12">
                  <div class="testimonial_box">
                      <div id="main_slider" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <p class="testimonial_text">"Les donuts de MissKech sont tout simplement délicieux ! Un goût unique, une texture parfaite, et un service rapide. Je les recommande vivement à tous ceux qui cherchent à se régaler."</p>
                                  <h4 class="client_name">Marri Fen</h4>
                                  <div class="client_img"><img src="images/client-img.png" alt="Marri Fen"></div>
                              </div>
                              <div class="carousel-item">
                                  <p class="testimonial_text">"Un vrai régal ! La qualité des produits et la fraîcheur des ingrédients sont évidentes. Je reviendrai sûrement pour goûter à toutes les autres saveurs."</p>
                                  <h4 class="client_name">Lucie D.</h4>
                                  <div class="client_img"><img src="images/client-img.png" alt="Lucie D."></div>
                              </div>
                              <div class="carousel-item">
                                  <p class="testimonial_text">"Chaque bouchée est un vrai moment de bonheur. Le service client est également exceptionnel, avec une équipe toujours souriante et professionnelle. Bravo MissKech !"</p>
                                  <h4 class="client_name">Jean-Claude M.</h4>
                                  <div class="client_img"><img src="images/client-img.png" alt="Jean-Claude M."></div>
                              </div>
                          </div>
                          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                              <i class="fa fa-angle-left"></i>
                          </a>
                          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                              <i class="fa fa-angle-right"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- testimonial section end -->

